@import url(http://weloveiconfonts.com/api/?family=zocial);

.about {
  color: #444;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
  margin: 0 auto 1em auto;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 20vw;
  padding-right: 20vw;
}

.abouteco {
  align-items: center;
  color: blue;
  font-family: 'Courier New';
  font-weight: 700;
  margin: .2em 0 1em;
}

.firs {
  align-items: center;
  max-width: 70em;
  width: 90vw;
  margin: 0 0 2em;
}

.h_iframe {
  position: relative;
}

.h_iframe .ratio {
  display: block;
  height: auto;
  width: 100%;
}

.h_iframe iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  margin-top: 12px;
}

.img-circle {
  border-radius: 50%;
}

.row {
  margin-left: 5vw;
  margin-right: 5vw;
}

.rowheader {
  width: 100vw;
  position: relative;
}

.text-muted {
  color: #BCBBBB;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 40px;
}

.wrapper {
  background: #CCC;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

[class*="zocial-"]:before {
  color: blue;
  display: inline-block;
  font-family: zocial, sans-serif;
  font-size: 2vw;
  margin-bottom: 2em;
  width: 2em;
}

a {
  align-items: center;
  color: blue;
  font-family: 'Courier New';
  text-decoration: none!important;
  margin: -.2em 0 1em;
}

a#viewSource {
  border-top: 1px solid #ddd;
  display: block;
  margin: 1.3em 0 0;
  padding: 1em 0 0;
}

article {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: Lato, sans-serif;
  text-align: center;
  width: 100%;
  background-color: #000;
  margin: 0;
  padding: 0;
}

figcaption {
  color: #bb021e;
  font-family: 'Roboto condensed', sans-serif;
  text-align: center;
  padding: 2em 0;
}

h1 {
  color: blue;
  font-family: 'Comic Sans Ms', sans-serif;
  margin: 1em 0 1em;
}

h2 {
  align-items: center;
  color: #bb021e;
  font-family: 'Roboto condensed', sans-serif;
  margin: 2em 0 1em;
}

h3 {
  color: blue;
  font-family: 'Courier New';
  margin: 0;
}

h4 {
  color: blue;
  font-family: Arial;
  margin: 0 0 1em;
}

img,embed,object,video {
  max-width: 100%;
  max-height: 50%;
}

nav a,button {
  min-height: 48px;
  min-width: 48px;
}

li {
  color: white;
}

p {
  color: blue;
  font-size: 1em;
  line-height: 2em;
  max-width: 50em;
  text-align: justify;
  margin: 0 auto 1em;
  font-family: Arial;
}

p.borderBelow {
  border-bottom: 1px solid #eee;
  padding: 0 0 1em;
}

picture#banner img {
  max-width: 100vw;
  width: 100vw;
  margin: 0 0 2em;
}

section#post {
  max-width: 80em;
  width: 90vw;
}

ul,.namecontact {
  text-align: left;
}

svg#logo {
  fill: #666;
  height: 6vw;
  margin: 0 auto 2em auto;
  width: 6vw;
}

header:hover svg#logo {
  fill: #3d85c6;
  -webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);
}